.DS_Store
.iml
.mvn
.idea
.xml
.cmd
apache-maven-3.5.4 
node_modules
package-lock.json
advanced-2019/out advanced-2019/javadocGo.java  
advanced-2019/"concur copy.sh" 
advanced-2019/java-advanced-2019.iml 
advanced-2019/ru.ifmo.rain.terentev.implementor.jar 
